

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#mainBox {
%ifdef XP_MACOSX
  font-size: smaller;
%endif
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

#mainBoxHeader {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#cssPolicyBox {
%ifndef XP_MACOSX
  background-image: -moz-linear-gradient(#d0d0d0, silver);
%endif
  margin-bottom: 1em;
  -moz-border-radius: 5px;
}

#sectionHeaderContext menuitem {
  font-size: smaller;
}

#warningBox > vbox {
  margin-left: 5px;
  margin-right: 5px;
}

#currentElementBox {
  font-family: -moz-fixed;
  background-color: #28211c;
  padding: 0.5em;
  border: inset #28211c 2px;
  -moz-border-radius: 5px;
  color: #e6e6e6;
  font-size: larger;
%ifndef X¨P_MACOSX
  font-weight: bold;
%endif
}

#classPicker, #IDPicker {
  max-width: 7em;
  min-width: 7em;
}

hbox.csspropertiesHeader {
  border-top: thin solid silver;
  padding-left: 3px;
  background-image: -moz-linear-gradient( silver, silver 10%, gray );
  font-size: larger; 
}

hbox.csspropertiesHeader > image {
  -moz-transform: rotate(-90deg);
  -moz-transition: -moz-transform 0.2s;
}

hbox.csspropertiesHeader[open="true"] > image {
  -moz-transform: rotate(0deg) !important;
}

.section {
  -moz-transition: height 0.5s, opacity 0.5s;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  padding: 1em;
  background-color: transparent;
}

hbox.csspropertiesHeader[open="true"] + .section {
  height: auto;
  overflow: visible;
  opacity: 1;
}

.section:last-child {
  border-bottom: thin solid gray;
}

menulist:not(#cssPolicyMenulist):not(#listStyleTypeMenulist) {
  width: 10em;
}

toolbarbutton.multibutton[checked] {
	text-shadow: rgba(129, 211, 255, 1) 0 0 3px;
	-moz-box-shadow: 
		inset rgba(0, 0, 0, 1) 0 2px 8px, 
		inset rgba(0, 0, 0, 1) 0 1px 1px,
		inset rgba(255, 255, 255, 0.5) 0 -16px 8px,
		rgba(255, 255, 255, 0.1) 0 1px;
}

toolbarbutton.multibutton {
  margin: 4px 0px;
	padding: 1px 1px;
  background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240), rgb(224, 224, 224));
  -moz-appearance: none;
  border: thin silver solid;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
}
toolbarbutton.multibutton + toolbarbutton.multibutton {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-left: 0px;
}

toolbarbutton.multibutton:last-child {
	-moz-border-radius-topright: 5px; 
	-moz-border-radius-bottomright: 5px;
  margin-right: 1em;
}

toolbarbutton.multibutton .toolbarbutton-icon[src] {
  margin-left: 1em;
}

.listboxBg {
  -moz-box-align: center;
}

rotator {
  margin-left: 1em;
  margin-bottom: 0.5em;
  -moz-binding: url("chrome://bluegriffon/content/bindings/rotator.xml#rotator");
}

.multipane-menu menuitem {
  font-size: smaller;
}

ecolorpicker {
  margin-right: 1em;
}


%include general.css
%include colors.css
%include geometry.css
%include borders.css
%include transforms.css
%include flexbox.css
%include transforms.css
%include transitions.css
%include shadows.css
%include columns.css
