#addTransitionButton menuitem {
  font: message-box;
}

#transitionsRichlistbox {
  min-height: 4em;
  overflow: visible;
  margin: 0px;
}

richlistitem.propertyTransition {
  -moz-binding: url("chrome://cssproperties/content/transitionitem.xml#property");
  border-bottom: gray thin solid;
  -moz-box-orient: vertical;
}

richlistitem.allTransition {
  -moz-binding: url("chrome://cssproperties/content/transitionitem.xml#all");
  border-bottom: gray thin solid;
  -moz-box-orient: vertical;
}

richlistitem.noneTransition {
  -moz-binding: url("chrome://cssproperties/content/transitionitem.xml#none");
  border-bottom: gray thin solid;
  -moz-box-orient: vertical;
}
