@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

richlistbox:focus > richlistitem[selected="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

.transformationitem-title {
  font-size: larger;
  border-bottom: gray thin solid;
  margin: 0px ! important;
  padding: 0.25em;
  font-weight: bold;
  background-color: silver;
}

richlistbox:focus > richlistitem[selected="true"] .transformationitem-title {
  background-color: Highlight;
  color: HighlightText;
}

rotator {
  margin: 10px;
}
