#oneColumnButton {
  list-style-image: url("chrome://bluegriffon/skin/icons/one-column.png");
}

#oneColumnButton[disabled="true"] {
  list-style-image: url("chrome://bluegriffon/skin/icons/one-column-disabled.png");
}

#twoColumnsButton {
  list-style-image: url("chrome://bluegriffon/skin/icons/two-columns.png");
}

#twoColumnsButton[disabled="true"] {
  list-style-image: url("chrome://bluegriffon/skin/icons/two-columns-disabled.png");
}

#threeColumnsButton {
  list-style-image: url("chrome://bluegriffon/skin/icons/three-columns.png");
}

#threeColumnsButton[disabled="true"] {
  list-style-image: url("chrome://bluegriffon/skin/icons/three-columns-disabled.png");
}

lengthbox {
  -moz-binding: url("chrome://bluegriffon/content/bindings/lengthbox.xml#lengthbox");
}

#gapLengthbox menulist,
#columnWidthLengthbox menulist,
#ruleLengthbox menulist {
  width: 7em;
}

#gapLengthbox .menulist-editable-input,
#columnWidthLengthbox .menulist-editable-input,
#ruleLengthbox .menulist-editable-input {
  text-align: right;
}

ecolorpicker {
	-moz-binding: url("chrome://bluegriffon/content/bindings/ecolorpicker.xml#ecolorpicker");
}
