
.titleholder {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  background-color: #606060;
}

.floatingpanel-close {
  list-style-image: url("chrome://global/skin/icons/closetab.png");
}

.floatingpanel-close:hover {
  list-style-image: url("chrome://global/skin/icons/closetab-hover.png");
}

box[anonid="resizer"] {
  width: 25px;
  height: 25px;
  background-image: url("chrome://bluegriffon/skin/panels/resizer.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
